{
    "Subdirectory": "",
    "S3BucketArn": "arn:aws:s3:::east-2-aws-glue-bi-hosted",
    "S3StorageClass": "STANDARD",
    "S3Config": {
      "BucketAccessRoleArn": "arn:aws:iam::228874976728:role/opensearch-manual-snapshot-migration-role"
    }
}